/*https://csscompressor.com/*/

#heading {
	background-color: #161B22;
}

.full-name,
.bio,
.stat-name,
.count,
.gh-widget-link,
.gh-widget-link2 {
	color: #F0F6FC;
	font-family: "Segoe UI";
}

.full-name {
	font-weight: 600;
}

.gh-widget-stats,
.names,
.language,
.stars {
	background-color: #0D1117;
	color: #F0F6FC;
}

#footer {
	background-color: #010409;
}

.gh-widget-link,
.gh-widget-link2,
.follow-button {
	text-decoration: none;
	color: #F0F6FC;
}

.gh-widget-link:hover {
	text-decoration: underline;
	color: #1881FD;
}

.gh-widget-link2:hover {
	color: #dbeaf8;
}

.gh-widget-container {
	display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;
	align-items: center;
	justify-content: center;
	background-color: #0D1117;
	color: #F0F6FC;
	font-family: "Segoe UI";
}

.github-widget {
	border: 1px solid #010409;
	max-width: 350px;
	border-radius: .3rem;
}

.gh-widget-item {
	flex: 1;
	text-align: center;
	padding: 10px;
}

.gh-widget-repositories .language {
	text-align: left;
}

.gh-widget-repositories .language div,
.gh-widget-repositories .stars div {
	padding: 5px 0;
}

.gh-widget-photo img {
	border-radius: 100%;
	max-width: 90px;
}

.gh-widget-personal-details {
	flex: 6;
}

.gh-widget-personal-details .full-name {
	font-size: 1.5em;
	line-height: 1.5em;
}

.gh-widget-personal-details .location {
	font-size: .8em;
}

.gh-widget-stats .count {
	font-size: 1.2em;
	font-weight: 700;
}

.gh-widget-repositories .names {
	flex: 2;
	text-align: left;
}

.gh-widget-repositories .names div {
	padding: 5px 0;
	text-overflow: ellipsis;
}

.gh-widget-active-time {
	flex: 4;
	font-size: .8em;
}

.gh-widget-heading {
	font-weight: 400;
	font-size: 1.1em;
	background-color: #0D1117;
	color: #F0F6FC;
}

hr.gh-widget-hr {
	border: 0;
	border-bottom: 1px solid #30363D;
	margin: 0;
}

.gh-widget-follow button {
	width: 100%;
	height: 2em;
	border: none;
	background-color: #238636;
	border-radius: .3rem;
}

.gh-widget-follow button:hover {
	background-color: #2EA043;
}

.gh-widget-photo,
.gh-widget-follow {
	flex: 2;
}
